@import "../index.scss";

.tleft {
  text-align: left;
}
.tcenter {
  text-align: center;
}
.tright {
  text-align: right;
}
.pullDownArea {
  padding: 2rem 2rem 2rem 0;
}
.clickable {
  cursor: pointer;
}
.font_l {
  font-size: 2.5rem;
}
